*
!MAPF-Post-Mortem-Analyzer/
!MAPF-Post-Mortem-Analyzer/**
!multiProfile/
!multiProfile/**
!all-in-one_calculator/
!all-in-one_calculator/**
!focusBear/
!focusBear/**
!reviewPickAI/
!reviewPickAI/**
!newsBrew/
!newsBrew/**
!.gitignore
!README.md

# Sensitive files and unnecessary folders
**/.env.js
**/node_modules/
**/.DS_Store
**/.next/
**/out/
**/build/
docs/